<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WarGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D71A3931D19C0D300E158D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D71A3A71D19C0D300E158D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D71A3B21D19C0D300E158D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
